<a href="https://colab.research.google.com/github/vandanarekha/Python-Workshop/blob/master/Day_3_Session_2(Worked_Out_Examples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finding the factorial of a number

In [ ]:
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:5
Factorial of the number is:
120

#Program for multiples of 2 of a list without list comprehension

In [ ]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#Single line program of Pythonic coding

In [ ]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

#More Pythonic program of 3 lines!

In [ ]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no5
120

#Number and its square as Tuple for a range

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:5
[(2, 4), (3, 9), (4, 16), (5, 25)]

#The most Pythonic program of a single line program is given below

In [ ]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:2
Enter the upper range:7
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49)]

#Finding the perfect squares

In [ ]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [ ]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences) 
print(list(filtered_result))

[4, 0, 9, 16, 1]

#Program to nd the largest number in a list.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:2
Enter element:5
Enter element:8
Largest element is: 8

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [ ]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no5
6
7
9
0
5
The greatest no is 9

#Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:5
Enter element:9
Enter element:3
The even list []
The odd list [5, 9, 3]

#Instead of forementioned 14 lines program, the equivalent 4 lines !

In [ ]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n4
5
65
87
11
odd list is [5, 65, 87, 11]
even list is []

#Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:5
Enter element:56
Enter element:78
Enter element:09
Enter element:57
Enter element:44
Enter number of elements:2
Enter element:56
Enter element:88
Sorted list is: [9, 44, 56, 56, 57, 78, 88]

#Program for multiples of 2 of a list without list comprehension

In [1]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#Single line program of Pythonic coding

In [2]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

#More Pythonic program of 3 lines!

In [3]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no5
120

#Number and its square as Tuple for a range

In [4]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:100
Enter the upper range:200
[(100, 10000), (101, 10201), (102, 10404), (103, 10609), (104, 10816), (105, 11025), (106, 11236), (107, 11449), (108, 11664), (109, 11881), (110, 12100), (111, 12321), (112, 12544), (113, 12769), (114, 12996), (115, 13225), (116, 13456), (117, 13689), (118, 13924), (119, 14161), (120, 14400), (121, 14641), (122, 14884), (123, 15129), (124, 15376), (125, 15625), (126, 15876), (127, 16129), (128, 16384), (129, 16641), (130, 16900), (131, 17161), (132, 17424), (133, 17689), (134, 17956), (135, 18225), (136, 18496), (137, 18769), (138, 19044), (139, 19321), (140, 19600), (141, 19881), (142, 20164), (143, 20449), (144, 20736), (145, 21025), (146, 21316), (147, 21609), (148, 21904), (149, 22201), (150, 22500), (151, 22801), (152, 23104), (153, 23409), (154, 23716), (155, 24025), (156, 24336), (157, 24649), (158, 24964), (159, 25281), (160, 25600), (161, 25921), (162, 26244), (163, 26569), (164, 26896), (165, 27225), (166, 27556), (167, 27889), (168, 28224), (169, 28561), (170, 28900), (171, 29241), (172, 29584), (173, 29929), (174, 30276), (175, 30625), (176, 30976), (177, 31329), (178, 31684), (179, 32041), (180, 32400), (181, 32761), (182, 33124), (183, 33489), (184, 33856), (185, 34225), (186, 34596), (187, 34969), (188, 35344), (189, 35721), (190, 36100), (191, 36481), (192, 36864), (193, 37249), (194, 37636), (195, 38025), (196, 38416), (197, 38809), (198, 39204), (199, 39601), (200, 40000)]

#The most Pythonic program of a sinle line program is given below

In [6]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:10
Enter the upper range:20
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

#Finding the perfect squares

In [7]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [8]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences) 
print(list(filtered_result))

[4, 0, 9, 16, 1]

#Program to nd the largest number in a list.

In [9]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:24
Enter element:25
Enter element:26
Largest element is: 26

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [11]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no3
78
90
56
The greatest no is 90

#Program to put the even and odd elements in a list into two different lists

In [12]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:56
Enter element:90
Enter element:33
The even list [56, 90]
The odd list [33]

#Instead of forementioned 14 lines program, the equivalent 4 lines !
#Pythonic program is here ....

In [13]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n3
34
22
10
odd list is []
even list is [34, 22, 10]

#Python Program to merge two lists and sort it.

In [14]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:12
Enter element:45
Enter element:67
Enter number of elements:3
Enter element:15
Enter element:66
Enter element:88
Sorted list is: [12, 15, 45, 66, 67, 88]

#Instead of forementioned 13 lines program, the equivalent 5 lines !

In [15]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements3
34
44
55
Enter how many elements 2
14
56
Sorted list is: [14, 34, 44, 55, 56]

#Python Program to sort the list according to the second element in the sublist

In [16]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Instead of forementioned 8 lines program, the equivalent 3 lines !

In [17]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Program to nd the second largest number in a list

In [20]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1, n+1):
   b=int(input("Enter element:"))
   a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:34
Enter element:55
Enter element:12
Second largest number is: 34

#Instead of forementioned 12 lines program, the equivalent 4 lines progam !

In [21]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements2
23
44
Second largest element is : 23

#Program to create a list of tuples with the rst element as the number and the second
#element as the square of the number.

In [22]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:100
Enter the upper range:200
[(100, 10000), (101, 10201), (102, 10404), (103, 10609), (104, 10816), (105, 11025), (106, 11236), (107, 11449), (108, 11664), (109, 11881), (110, 12100), (111, 12321), (112, 12544), (113, 12769), (114, 12996), (115, 13225), (116, 13456), (117, 13689), (118, 13924), (119, 14161), (120, 14400), (121, 14641), (122, 14884), (123, 15129), (124, 15376), (125, 15625), (126, 15876), (127, 16129), (128, 16384), (129, 16641), (130, 16900), (131, 17161), (132, 17424), (133, 17689), (134, 17956), (135, 18225), (136, 18496), (137, 18769), (138, 19044), (139, 19321), (140, 19600), (141, 19881), (142, 20164), (143, 20449), (144, 20736), (145, 21025), (146, 21316), (147, 21609), (148, 21904), (149, 22201), (150, 22500), (151, 22801), (152, 23104), (153, 23409), (154, 23716), (155, 24025), (156, 24336), (157, 24649), (158, 24964), (159, 25281), (160, 25600), (161, 25921), (162, 26244), (163, 26569), (164, 26896), (165, 27225), (166, 27556), (167, 27889), (168, 28224), (169, 28561), (170, 28900), (171, 29241), (172, 29584), (173, 29929), (174, 30276), (175, 30625), (176, 30976), (177, 31329), (178, 31684), (179, 32041), (180, 32400), (181, 32761), (182, 33124), (183, 33489), (184, 33856), (185, 34225), (186, 34596), (187, 34969), (188, 35344), (189, 35721), (190, 36100), (191, 36481), (192, 36864), (193, 37249), (194, 37636), (195, 38025), (196, 38416), (197, 38809), (198, 39204), (199, 39601), (200, 40000)]

#The aforementioned program is already pythonic.
#We can still make it more pythonic as follows

In [23]:
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)

Enter the lower range:100
Enter the upper range:255
[(100, 10000), (101, 10201), (102, 10404), (103, 10609), (104, 10816), (105, 11025), (106, 11236), (107, 11449), (108, 11664), (109, 11881), (110, 12100), (111, 12321), (112, 12544), (113, 12769), (114, 12996), (115, 13225), (116, 13456), (117, 13689), (118, 13924), (119, 14161), (120, 14400), (121, 14641), (122, 14884), (123, 15129), (124, 15376), (125, 15625), (126, 15876), (127, 16129), (128, 16384), (129, 16641), (130, 16900), (131, 17161), (132, 17424), (133, 17689), (134, 17956), (135, 18225), (136, 18496), (137, 18769), (138, 19044), (139, 19321), (140, 19600), (141, 19881), (142, 20164), (143, 20449), (144, 20736), (145, 21025), (146, 21316), (147, 21609), (148, 21904), (149, 22201), (150, 22500), (151, 22801), (152, 23104), (153, 23409), (154, 23716), (155, 24025), (156, 24336), (157, 24649), (158, 24964), (159, 25281), (160, 25600), (161, 25921), (162, 26244), (163, 26569), (164, 26896), (165, 27225), (166, 27556), (167, 27889), (168, 28224), (169, 28561), (170, 28900), (171, 29241), (172, 29584), (173, 29929), (174, 30276), (175, 30625), (176, 30976), (177, 31329), (178, 31684), (179, 32041), (180, 32400), (181, 32761), (182, 33124), (183, 33489), (184, 33856), (185, 34225), (186, 34596), (187, 34969), (188, 35344), (189, 35721), (190, 36100), (191, 36481), (192, 36864), (193, 37249), (194, 37636), (195, 38025), (196, 38416), (197, 38809), (198, 39204), (199, 39601), (200, 40000), (201, 40401), (202, 40804), (203, 41209), (204, 41616), (205, 42025), (206, 42436), (207, 42849), (208, 43264), (209, 43681), (210, 44100), (211, 44521), (212, 44944), (213, 45369), (214, 45796), (215, 46225), (216, 46656), (217, 47089), (218, 47524), (219, 47961), (220, 48400), (221, 48841), (222, 49284), (223, 49729), (224, 50176), (225, 50625), (226, 51076), (227, 51529), (228, 51984), (229, 52441), (230, 52900), (231, 53361), (232, 53824), (233, 54289), (234, 54756), (235, 55225), (236, 55696), (237, 56169), (238, 56644), (239, 57121), (240, 57600), (241, 58081), (242, 58564), (243, 59049), (244, 59536), (245, 60025), (246, 60516), (247, 61009), (248, 61504), (249, 62001), (250, 62500), (251, 63001), (252, 63504), (253, 64009), (254, 64516), (255, 65025)]

#Of course, We can write in the most pythonic way with one line ! as follows

In [24]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:100
Enter the upper range:200
[(100, 10000), (101, 10201), (102, 10404), (103, 10609), (104, 10816), (105, 11025), (106, 11236), (107, 11449), (108, 11664), (109, 11881), (110, 12100), (111, 12321), (112, 12544), (113, 12769), (114, 12996), (115, 13225), (116, 13456), (117, 13689), (118, 13924), (119, 14161), (120, 14400), (121, 14641), (122, 14884), (123, 15129), (124, 15376), (125, 15625), (126, 15876), (127, 16129), (128, 16384), (129, 16641), (130, 16900), (131, 17161), (132, 17424), (133, 17689), (134, 17956), (135, 18225), (136, 18496), (137, 18769), (138, 19044), (139, 19321), (140, 19600), (141, 19881), (142, 20164), (143, 20449), (144, 20736), (145, 21025), (146, 21316), (147, 21609), (148, 21904), (149, 22201), (150, 22500), (151, 22801), (152, 23104), (153, 23409), (154, 23716), (155, 24025), (156, 24336), (157, 24649), (158, 24964), (159, 25281), (160, 25600), (161, 25921), (162, 26244), (163, 26569), (164, 26896), (165, 27225), (166, 27556), (167, 27889), (168, 28224), (169, 28561), (170, 28900), (171, 29241), (172, 29584), (173, 29929), (174, 30276), (175, 30625), (176, 30976), (177, 31329), (178, 31684), (179, 32041), (180, 32400), (181, 32761), (182, 33124), (183, 33489), (184, 33856), (185, 34225), (186, 34596), (187, 34969), (188, 35344), (189, 35721), (190, 36100), (191, 36481), (192, 36864), (193, 37249), (194, 37636), (195, 38025), (196, 38416), (197, 38809), (198, 39204), (199, 39601), (200, 40000)]

#Program to generate random numbers from 1 to 20 and append them to the list.

In [25]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [13, 3, 19]

#Pythonic program of 2 lines!

In [26]:
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements3
Randomised list is:  [18, 13, 3]

#Program for printing list of values with indexing

In [27]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
    print(str(index)+":"+i)
    index=index+1

0:Jan
1:Feb
2:Mar
3:Apr
4:May
5:Jun
6:Jul
7:Aug
8:Sep
9:Oct
10:Nov
11:Dec

#using Pythonic way using enumerate()!

In [28]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec